:root {
  /* Color */
  --grey-color: #6f6f71;
  --black-color: #000000;
  --blue-color: #4aa6f1;
  --grey-backcolor: #f2f3f7;
  --white-color: #ffffff;
  /* Size */
  --padding: 12px;
  --margin: 30px;

  /* Font size */
  --font-smaller: 10px;
  --font-small: 12px;
  --font-medium: 15px;
  --font-large: 18px;
  --font-larger: 24px;
  --font-largest: 36px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black-color)
}

/* GNB */
.globalNav {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100%;
  background-color: var(--grey-backcolor);
  border: 2px dotted blue;
  text-align: center;
  position: fixed;
  top: 0px;
}

.globalNav .avatar_img img {
  width: 175px;
  height: 175px;
  margin: var(--margin);
  border: 2px dotted blue;
  border-radius: 50%;
}

.globalNav .avatar_info {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin);
}

.globalNav .avatar_info {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.globalNav .avatar_info .name {
  font-weight: bold;
  font-size: var(--font-larger);
  margin-bottom: calc(var(--margin) / 4);
}

.globalNav .avatar_info .position {
  font-size: var(--font-large);
}

.globalNav .menu li {
  margin-bottom: var(--margin);
  color: var(--grey-color);
  font-weight: bold;
  font-size: var(--font-medium);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  list-style: none;
}

.globalNav .menu li:hover {
  color: var(--blue-color);
}

.globalNav .sns .icons li {
  display: inline;
  margin: 0px calc(var(--margin) / 4);
}

.globalNav .sns .icons li a {
  color: var(--blue-color);
  font-size: var(--font-larger);
}

.globalNav .copyright {
  padding-top: calc(var(--padding) * 4);
  padding-bottom: calc(var(--padding) * 4);
}

/* Main Contents */
.mainContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 350px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.mainContent .mainSec .mainImg {
  display: flex;
}

.mainContent .mainSec .mainImg img {
  width: 100%;
  min-width: 800px;
  filter: grayscale(100%) brightness(20%);
}

.mainContent .mainSec .mainTxt {
  display: flex;
  position: absolute;
  top: 120px;
  left: 120px;
  font-size: var(--font-largest);
  color: var(--white-color);
  line-height: 1.5;
}

.mainContent .aboutMe .aboutMeHeader {
  display: flex;
  padding: 200px;
}

.mainContent .aboutMe .aboutMeHeader2 {
  display: flex;
  justify-content: space-between;
}

.mainContent .aboutMe .aboutMeHeader .aboutMeImg img {
  display: flex;
  margin-right: var(--margin);
  border: 2px dotted blue;
  border-radius: 50%;
}

.mainContent .aboutMe .aboutMeHeader .aboutMeTxt {
  font-size: var(--font-larger);
  min-width: 400px;
}

.mainContent .aboutMe .aboutMeHeader .aboutMeTxt img {
  display: inline-flex;
  width: 30px;
  margin-right: var(--margin);
}

.mainContent .aboutMe .aboutMeCV {
  display: flex;
  flex-direction: column;
  padding: 0px 200px;
}

.mainContent .aboutMe .aboutMeCV li {
  list-style: none;
}

.mainContent .aboutMe .aboutMeCV .aboutMeTitle {
  font-size: var(--font-larger);
  text-align: center;
  margin-top: var(--margin);
  margin-bottom: calc(var(--margin));
  padding-bottom: var(--padding);
  border-bottom: 1px solid black;
}

.mainContent .aboutMe .aboutMeCV .aboutMeHeader {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  margin-top: var(--margin);
  margin-bottom: calc(var(--margin) / 4);
}

.mainContent .aboutMe .aboutMeCV .aboutMeHeaderAdd {
text-align: right;
}

.projects {
  margin-top:calc(var(--margin)*5); 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projects .projectTitle {
  font-size: var(--font-largest);
  text-align: center;
}

.projects .projectsClone {
  display: flex;
  margin-top: var(--margin);
  justify-content: center;
}

.projects .projectsClone .cloneCard {
  margin: 0px var(--margin);
  padding-bottom: calc(var(--margin) / 2);
  text-align: center;
  border: 1px dotted blue;
}

.projects .projectsClone .cloneCard .cloneImg {
  margin-bottom: calc(var(--margin) / 2);
}

.projects .projectsClone .cloneCard span {
  text-align: center;
  font-size: var(--font-large);
} 

.tes {
  margin-top: calc(var(--margin)*5); 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tes .tesTitle {
  text-align: center;
  font-size: var(--font-largest);
}

.tes .tesMain {
  display: flex;
  margin-top: var(--margin);
  justify-content: center;
  margin: 0px calc(var(--margin) * 7);
  margin-top: var(--margin);
}

.tes .tesMain .tesImg {
  margin-right: var(--margin);
}

.tes .tesMain .tesTxt {
  font-size: var(--font-large);
  line-height: 1.7;
  vertical-align: middle;
}

.tes .tesMain .tesTxt img {
  width: 20px;
}

.contacts .contactsMain {
margin-top: calc(var(--margin)*5); 
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contacts .contactsMain .contactTitle {
  text-align: center;
  font-size: var(--font-largest);
  margin-bottom: var(--margin);
}

.contacts .contactsMain .contactsEmail,
.contacts .contactsMain .contactInfo {
  text-align: center;
  ;
}

.contacts .contactsMain .contactInfo {
  margin-top: calc(var(--margin) / 3);
  margin-bottom: 150px;
}





/*
.mainContent .aboutMe .aboutMeCV .aboutMeEdu .aboutMeEduTitle,
.mainContent .aboutMe .aboutMeCV .aboutMeWork .aboutMeWorkTitle,
.mainContent .aboutMe .aboutMeCV .aboutMeWork .aboutMeWorkTitle,
.mainContent .aboutMe .aboutMeCV .aboutMeProject .aboutMeProjectTitle,
.mainContent .aboutMe .aboutMeCV .aboutMeCert .aboutMeCertTitle {
  font-weight: bolder;
  font-size: var(--font-largest);
  text-align: center;
  margin-top: var(--margin);
}